apiVersion: v1
kind: Secret
metadata:
  name: sentinelx-secrets
type: Opaque
stringData:
  POSTGRES_PASSWORD: "CHANGE_ME_IN_VAULT_OR_SEALED_SECRETS"
  JWT_SECRET: "404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970"
  OPENSEARCH_PASSWORD: "CHANGE_ME_SECURE_PASSWORD"
